<mat-card>
  <mat-card-content *ngIf="lastDate !== actualDate">
    <mat-card-title> Select a new card !!!</mat-card-title>
  </mat-card-content>
  <mat-card-content *ngIf="lastDate === actualDate">
    <mat-card-title> You already take your daily card :'( </mat-card-title>
  </mat-card-content>
  <mat-card-content
    *ngIf="lastDate === actualDate && actualPoke != undefined"
    [routerLink]="'/description/' + actualPoke.id"
  >
    <mat-card-title class="namePoke"> {{ actualPoke.name }}</mat-card-title>
    <img
      mat-card-image
      [src]="actualPoke.sprites.front_default"
      alt="Pokemon"
    />
  </mat-card-content>

  <button mat-raised-button (click)="sendPokemon(getRandomId())">Send</button>
</mat-card>
